body{
    background-color: bisque;
}
.contenedor{
    width: 40%;
    height: auto;
    margin: 0 auto;
    text-align: center;
}
.titulo{
    background-color: white;  
}

.imgPrincipal{
    width: 597px;
    height: auto;
}
.contenedor2{
    margin: 0 auto;
    width: 40%;
    height: 40%;
    text-align: center;
    color: white;
    display: grid;

    grid-template-columns: 50% auto;
    grid-template-rows: repeat(1,auto);
}
article{

    font-size: 14px;
    background-color:dodgerblue;
    border: medium solid white;
    text-align: center;
    font-size: 10px;
}
.img1{
    width: 100%;
    height: auto;
}
button{
    background-color: green;
    color: white;
}
.contenedor3{
    margin: 0 auto;
    width: 40%;
    height: 40%;
    text-align: center;
    color: white;

    display: grid;

    grid-template-columns: repeat(2,auto);
    grid-template-rows: repeat(2,auto);
}
.img2{
    width: 100%;
    height: auto;
}
.img3{
    width: 100%;
    height: auto;
}

.contenedor4{
    margin: 0 auto;
    width: 40%;
    height: 40%;
    color: white;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-template-rows: repeat(2,auto);
}
.img4{
    width: 100%;
    height: 151px;
}
.img5{
    width: 100%;
    height: 151px;
}
.img6{
    width: 100%;
    height: 151px;
}
h2{
    background-color: transparent;
    color: black;
}
.contenedor5{
    margin: 0 auto;
    width: 40%;
    height: 40%;
    text-align: center;
    display: grid;
}
