

.contenedor2{
    
    height: 500px;
    display: flex;
    padding: 20px;
    flex-direction: row;
    color: white;
    font-size: 40px;
    text-align: center
    
  
}
.contenedor3{
    display: flex;
    padding: 20px;
    flex-direction: column-reverse;
    color: white;
    font-size: 20px;
    text-align: center ;
  width: 800px;
}
.uno{
    background-color: #82e0aa;
    padding: 10px;
}
.dos{
    background-color: #3498db;
    padding: 10px;
}
.tres{
    background-color: #af7ac5;
    padding: 10px;
}
.cuatro{
    background-color: #2c3e50;
    padding: 10px;
}
.cinco{
    background-color: #f1c40f;
    padding: 10px;
}
.seis{
    background-color: #d35400;
    padding: 10px;
}
.siete{
    background-color: #e74c3c;
    padding: 10px;
}
.ocho{
    background-color: #d5dbdb;
    padding: 10px;
}
.nueve{
    background-color: #2ecc71;
    padding: 10px;
}
.diez{
    background-color: #117a65;
    padding: 10px;
}
.contenedor4{
    background-color: #5b2c6f;
    display: flex;
    padding: 20px;
    flex-direction: column;
    color: white;
    font-size: 20px;
    text-align: center ;
    width: 900px;
}
.contenedorA{
    background-color: rgb(244, 216, 216);
    display: flex;
    padding: 20px;
    flex-direction: row;
    color: black;
    font-size: 15px;
    width: 900px;
}
.contenedorA-1{
    padding: 20px;
    color: black;
    font-size: 15px;
    text-align: left;
  background-color: aqua;
  margin-left: 10px;
}
.contenedorA-2{
    padding: 20px;
    color: black;
    font-size: 15px;
    text-align: left;
 background-color: aqua;
 margin-left: 10px;
}
.contenedorA-3{
    
    padding: 20px;
    color: black;
    font-size: 15px;
    text-align: left;
 background-color: aqua;
 margin-left: 10px;

 
}
.contenedorA-3-1{
    flex-direction: column;
    padding: 20px;
    color: black;
    font-size: 15px;
    text-align: left;
 background-color: aqua;
 margin-left: 10px;

 
}
button{
    background-color: Gainsboro;
    border: none;
    margin-top: 20px;
    border-radius: 8px;
    cursor: pointer;
    padding: 8px;
}
.botona{
    background-color:#3498db;
    border: none;
    margin-top: 20px;
    border-radius: 8px;
    cursor: pointer;
    padding: 8px;
}
.botona:hover{
    background-color: DarkGray;
}

